:root {
    --red-40: #76F7BF;
    --red-10: #E0E0E2;
    
    --primary-back: var(--red-40);
    --secondary-back: var(--red-10);
  
    --height-factor: 3.5;
    --short: calc(100vh / var(--height-factor));
    --tall: calc(100vh - var(--short));
  }

body {
    font-family: 'IBM Plex Sans';
    height: 100%;
    background: -webkit-linear-gradient(180deg, var(--primary-back) var(--tall), var(--secondary-back) var(--tall));
    background: -o-linear-gradient(180deg, var(--primary-back) var(--tall), var(--secondary-back) var(--tall));
    background: -moz-linear-gradient(180deg, var(--primary-back) var(--tall), var(--secondary-back) var(--tall));
    background: linear-gradient(to top, var(--primary-back), var(--secondary-back));
    background-repeat: no-repeat;

}

html {
    height: 100%;
}


hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

footer {
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.ibm-code .btn-primary {
    background-color: #26A8A2;
    border-color: #32A8A3;
    white-space: normal;
}

.ibm-code .btn-primary:hover {
    background-color: #1E8B87;
    border-color: #24D8B8;
}

.header {
    margin: 20px;
}

.hide {
    display: none;
}

#codait-logo img {
    float: center;
    width: 97px;
    height: 90px;
}

#canvas {
    padding: 20px;
    align-content: center;
}

#modelStats {
    text-align: center;
}